<div class="container">
  <h2>Index</h2>
  <hr />
  <p>
    <a href="/resources/create" class="btn btn-primary">Create New</a>
  </p>

  <form method="post" action="resources/index">
      <label class="col-md-2">Find by name:</label>
      <div class="col-md-6">
        <input name="name" class="form-control" />
      </div>
      <input type="submit" value="Search" class="btn btn-default" />
  </form>
  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Type</th>
        <th>Latitude</th>
        <th>Longitude</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {{#each resources}}
        <tr>
          <td>
            {{this.name}}
          </td>
          <td>
            {{this.primaryType}}
          </td>
          <td>
            {{this.latitude}}
          </td>
          <td>
            {{this.longitude}}
          </td>
          <td>
            <div class="row">
              <form class="col-md-2" method="POST" action="/resources/view">
                <input hidden name="resource" value="{{this.id}}">
                <input type="submit" value="Details" class="btn btn-primary" />
              </form>
              <form class="col-md-2" method="POST" action="/resources/edit">
                <input hidden name="resource" value="{{this.id}}">
                <input type="submit" value="Edit" class="btn btn-default" />
              </form>
              <form class="col-md-2" method="POST" action="/resources/delete">
                <input hidden name="resource" value="{{this.id}}">
                <input type="submit" value="Delete" class="btn btn-danger" />
              </form>
            </div>
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</div>
