<div class="container">
  <h2>Details</h2>
  <h4>{{resource.name}}</h4>
  <hr />
  <dl class="dl-horizontal">
    <dt>Name</dt>
    <dd>{{resource.name}}</dd>
    <dt>Ariabic Name</dt>
    <dd>{{resource.ariabicName}}</dd>
    <dt>Latitude</dt>
    <dd>{{resource.latitude}}</dd>
    <dt>Longitude</dt>
    <dd>{{resource.longitude}}</dd>
    <dt>Primary Type</dt>
    <dd>{{resource.primaryType}}</dd>
    <dt>Types</dt>
    <dd>{{resource.types}}</dd>
    <dt>Address</dt>
    <dd>{{resource.address}}</dd>
    <dt>Ariabic Address</dt>
    <dd>{{resource.ariabicAddress}}</dd>
    <dt>Phone</dt>
    <dd>{{resource.phone}}</dd>
    <dt>Notes</dt>
    <dd>{{resource.notes}}</dd>
    <dt>Ariabic Notes</dt>
    <dd>{{resource.ariabicNotes}}</dd>
  </dl>
  <a href="/resources/edit" class="btn btn-primary">Edit</a>
  <a href="/" class="btn btn-default">Back to List</a>
</div>
