<div class="container">
  <h2>Details</h2>
  <h4>{{resource.name}}</h4>
  <hr />
  <dl class="dl-horizontal">
    <dt>Name</dt>
    <dd>{{resource.name}}</dd>
    <dt>Ariabic Name</dt>
    <dd>{{resource.ariabicName}}</dd>
    <dt>Latitude</dt>
    <dd>{{resource.latitude}}</dd>
    <dt>Longitude</dt>
    <dd>{{resource.longitude}}</dd>
    <dt>Primary Type</dt>
    <dd>{{resource.primaryType}}</dd>
    <dt>Types</dt>
    <dd>{{resource.types}}</dd>
    <dt>Address</dt>
    <dd>{{resource.address}}</dd>
    <dt>Ariabic Address</dt>
    <dd>{{resource.ariabicAddress}}</dd>
    <dt>Phone</dt>
    <dd>{{resource.phone}}</dd>
    <dt>Notes</dt>
    <dd>{{resource.notes}}</dd>
    <dt>Ariabic Notes</dt>
    <dd>{{resource.ariabicNotes}}</dd>
    <hr/>
    <dt>ID</dt>
    <dd>{{resource.id}}</dd>
    <dt>Created At</dt>
    <dd>{{resource.createdAt}}</dd>
    <dt>Last Updated At</dt>
    <dd>{{resource.updatedAt}}</dd>
  </dl>
  <form method="POST" action="/resources/edit">
    <input hidden name="resource" value="{{resource.id}}">
    <input type="submit" value="Edit" class="btn btn-primary" />
    <a href="/resources/index" class="btn btn-default">Back to List</a>
  </form>
</div>
